.lessons {
	padding-bottom: 16rem;
}

[data-accordion]{

	summary::-webkit-details-marker,
	details > summary::before {
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		transition: all .1s ease-out;
	}

	.accordion__tab {
		background-color: #fff;
		border:1px solid #ccc;
		padding: .4rem;
		&[open] {
			background-color: #373737;
			color: #fff;
			.accordion__tab-content {
				background-color: #373737;
			}
		}
	}

	.accordion__header {
		position: relative;
		padding: .8rem 3.2rem .8rem 2.4rem;
	}

	.accordion__headline {
		padding: 0;
		margin-bottom: 0;
	}

	.accordion__headline,
	.accordion__tab-content {
		a {
			color:#fff;
			text-decoration: underline;
		}
		h1,h2,h3,h4,h5,h6 {
			color:#fff;
		}
		transition: all .1s ease-out;
	}

	.accordion__tab-content {
		padding: .8rem 2.4rem;
		background-color: #fff;
		transition: all .1s ease-out;
	}
}