$breakpoint-max-320: 320px;
$breakpoint-min-321: 321px;
$breakpoint-max-480: 480px;
$breakpoint-min-481: 481px;
$breakpoint-max-767: 767px;
$breakpoint-min-768: 768px;
$breakpoint-max-1023: 1023px;
$breakpoint-min-1024: 1024px;
$breakpoint-max-1279: 1279px;
$breakpoint-min-1280: 1280px;
$breakpoint-max-1439: 1439px;
$breakpoint-min-1440: 1440px;
$breakpoint-max-1599:1599px;
$breakpoint-min-1600:1600px;
$breakpoint-max-1919: 1919px;
$breakpoint-min-1920: 1920px;

// colors
$red: red;